
name: Merge changes

on:
  workflow_call:
    inputs:
      branch-from:
        description: 'base branch'
        required: false
        default: 'dev'
        type: string
      branch-to:
        description: 'target branch'
        required: false
        default: 'tst'
        type: string
    secrets:
      DEPLOY_USER_GITHUB_TOKEN:
        required: true  
   
jobs:
  merge-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.DEPLOY_USER_GITHUB_TOKEN }}
      - name: Merge dev to tst
        shell: bash
        id: vars
        env:
          REPO: ${{ github.repository }}
          HASH: ${{ github.sha }}
          REF: ${{ github.ref }}
        run: |
          from="${{ inputs.branch-from}}"
          to="${{ inputs.branch-to}}"
          repo="${{ github.repository }}"
          echo "Starting $repo"
          git config  --global user.name "Nucleus-Build-User"
          git config  --global user.email "nucleus@mutualofenumclaw.com"
          git config  --global pull.rebase false
          git clone https://github.com/${{ github.repository }}.git ${{ github.repository }}
          cd ${{ github.repository }}
          echo "Checking out branch $to"
          git checkout $to
          git pull
          echo "Pulling branch $from"
          git pull --no-rebase origin $from -X theirs
          echo "Pushing updates"
          git push
